<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1.0, minimum-scale=1.0, maximum-scale=1.0" />

    <title>タイトル</title> <!-- TODO: ページのタイトル -->

    <meta name="description" content=""> <!-- TODO: ページの説明文。特に記載することがない場合はこの行を削除してください -->

    <link href="css/reset.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">

    <link rel="canonical" href="" /> <!-- TODO: ページの URL -->
    <meta property="og:url" content="" /> <!-- TODO: ページの URL -->
    <meta property="og:title" content="" /> <!-- TODO: ページのタイトル -->
    <meta property="og:type" content="website"> <!-- TODO: top ページの場合は website, それ以外のページは article -->
    <meta property="og:description" content="" /> <!-- TODO: ページの説明文 -->
    <meta property="og:image" content="" /> <!-- TODO: SNS 共有されたときにタイムラインに表示される画像。『ogp 画像』等で検索し推奨フォーマットを確認してください -->
    <meta property="og:site_name" content="" /> <!-- TODO: サイト名 -->
    <meta property="og:locale" content="ja_JP" />
    <meta name="twitter:card" content="summary" /> <!-- TODO: twitter 共有されたときの表示形式。summary_large_image か summary を指定してください -->

    <!-- TODO: 必要に応じて favicon を指定 -->
</head>

<body>
<main>
    <!-- TODO: この中に html コードを記述 -->
    <p>このテキストがブラウザ上に表示されているのを確認できれば環境構築は完了です。</p>

    <% const print = "ejsはこんなふうに書きます" %>
    <p class="text-blue-500"><%= print %></p>
    <a
        href="https://qiita.com/miwashutaro0611/items/36910f2d784ff70a527d"
        target="_blank"
    >
        ejsの書き方の参考サイト
    </a>
</main>

<script src="js/app.js"></script>
</body>
</html>
